.cards-lists {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.card-item {
  width: 300px;
  padding: 1em;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.2s ease-in-out;
}

.card-item:hover {
  transform: translateY(-10px);
}

.card-item-text {
  color: var(--brand-color);
  font-weight: 500;
}
